/hidden
/.idea
/node_modules
/creds.js
/drivers.csv
/src/state/brl/drivers.csv
/src/state/jrc-themed/drivers.csv
/src/state/jrc/drivers.csv
/cached-creds.json
/wrc-cached-creds.json
.~lock.*
image.png
src/visualisation/1test.html
src/visualisation/2test.html
fantasy.png
src/visualisation/driverStandings.html
src/visualisation/fantasy.html
example.json

*.html

*.mp4

src/state/jrc/new_fantasyTeams.json

.env
/clubs.json
/clubs.csv