<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/animation.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/w3.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
    {{{navigation}}}
    <div id="container">
        <div id="flexContainer">
            <div class="flexBox" style="margin:5px;width: 60%; min-width: 700px;">
                <div class="w3-card-4">

                    <header class="w3-container w3-blue">
                        <h1>To-Do for next season</h1>
                    </header>

                    <div class="w3-container w3-light-grey">
                        <p>Next week we'll start a 2 week off-season before Season 7. We'd like to note that the indicated relagation/promotion slots are dependant on inactive drivers & influx of new drivers as well! final tiers will be announced before the season starts.</p>
                        <p>Here's what you need to do before next season starts:</p>

                        <p><strong>Current drivers</strong></p>
                        <p>Fill this form and that's all. Just keep up with the news and complete this season to secure
                            a spot on next season. https://forms.gle/ygLXZJHcDXEuNb7k9</p>
                        <br>
                        <p><strong>New drivers</strong></p>
                        <p>Fill the new version of Driver profile. This will cover everything. Before the season there
                            will be bigger placements organized but you can join the current placements to get placed
                            into a tier for the last couple rounds. https://forms.gle/PL8Do6qA7K3FpjSH9</p>

                    </div>
                </div>

                <div class="w3-card-4">

                    <header class="w3-container w3-blue">
                        <h1>Live events & new seasons starting during off-season</h1>
                    </header>

                    <div class="w3-container w3-light-grey">
                        <p><strong>JRC Live RX edition</strong></p>
                        <p>When the main league goes into a 2 week break period, JRC Live will return once more. This time an rx event will be held in addition to the showdown event between the top drivers. Check #jrc-live for signups & info</p>


                        <p><strong>Side Series</strong></p>
                        <p>JRC Historic & Themed will head into new seasons at the start of the off-season. If you thought the group B cars were a pain to handle, you're in for a surprise as RGT graces us with it's presence in the new themed season.</p>
                        <p>New kid on the block the JRC Endurance Series will start alongside them. This one will see you fighting for survival, rather than outright speed.
                            Given the extreme nature of the routes this series will follow a two weekly calendar. To celebrate the inaugural season all points-scoring competitors will have a chance to win a steam game at the end.</p>
                        
                    </div>
                </div>

                <div class="w3-card-4">

                    <header class="w3-container w3-blue">
                        <h1>Season 6 Calendar</h1>
                    </header>

                    <div class="w3-container w3-light-grey" style="font-weight: bold;">
                        <img style="max-width:100%; margin:auto; display:block;" src="./assets/S6_calendar.png" />
                    </div>
                </div>

                <div class="w3-card-4">

                    <header class="w3-container w3-blue">
                        <h1>Historic & Themed Calendar</h1>
                    </header>

                    <div class="w3-container w3-light-grey">
                        <img style="max-width:100%; margin:auto; display:block;"
                            src="https://cdn.discordapp.com/attachments/679699077272698883/752949615996960890/unknown.png" />
                    </div>
                </div>
            </div>
            <div class="flexBox" style="margin:5px;">
                <h2>Rulebooks</h2>
                <h3>Season 7</h3>
                <ul>
                    <li><a
                            href="https://cdn.discordapp.com/attachments/679708933434114093/764526986872750080/JRC_Season_7_Rulebook.pdf">English</a>
                    </li>
                </ul>
                <h3>Season 6</h3>
                <ul>
                    <li><a
                            href="https://cdn.discordapp.com/attachments/679708933434114093/744264939140808764/JRC_Season_6_Rulebook.pdf">English</a>
                    </li>
                    <li><a
                            href="https://cdn.discordapp.com/attachments/679708933434114093/744264963660447824/JRC_Temporada_6_-_Reglamento_en_Espanol.pdf">Espanol</a>
                    </li>
                    <li><a
                            href="https://cdn.discordapp.com/attachments/679708933434114093/744264986460815416/JRC_Saison_6_Reglement_en_francais.pdf">Français</a>
                    </li>
                    <li><a
                            href="https://cdn.discordapp.com/attachments/679708933434114093/744265091041722368/JRC_6._kauden_saantokirja.pdf">Saantokirja</a>
                    </li>
                    <li><a
                            href="https://cdn.discordapp.com/attachments/679708933434114093/744265121018413166/JRC_6.hooaja_reegliraamat.pdf">Reegliraamat</a>
                    </li>
                </ul>

            </div>

        </div>
    </div>

    <!--
        DROPDOWN
    -->
    <script>
        function openNav() {
            var x = document.getElementById("mobileNav");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>
    <!--
        BACKGROUND ANIMATION
    -->
    <div id="particles-js"></div>
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="./assets/particleConfig.js"></script>
</body>

</html>