<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/animation.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/w3.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" href="./assets/JRC.png">
</head>

<body>
    {{{navigation}}}
    <div id="container">
        <div id="flexContainer">
            <div class="flexBox" style="margin:5px;width: 60%; min-width: 700px;">
                <div class="w3-card-4">

                    <header class="w3-container w3-blue">
                        <h1>Welcome to JRC Season 9</h1>
                    </header>

                    <div class="w3-container w3-light-grey">
                        <p>The season is underway - 8 rounds of rally action to determine the winning drivers and teams.</p>

                        <p><strong>New drivers</strong></p>
                        <p>You may still be able to join mid season. Fill the new version of Driver profile. This will cover everything. Before the season there
                            will be bigger placements organized but you can join the current placements to get placed
                            into a tier for as many rounds as possible.</p>

                    </div>
                </div>

                <div class="w3-card-4">

                    <header class="w3-container w3-blue">
                        <h1>Other JRC events</h1>
                    </header>

                    <div class="w3-container w3-light-grey">
                        <p><strong>Side Series</strong></p>
                        <p>JRC Historic & Themed seasons are underway. Themed is featuring breaking with tradition and running a Richard Burns Rally season.</p>
                        <p>JRC Endurance Series will see you fighting for survival, rather than outright speed.
                            Given the extreme nature of the routes this series will follow a two weekly calendar.</p>

                    </div>
                </div>

                <div class="w3-card-4">

                    <header class="w3-container w3-blue">
                        <h1>Season 9 Calendar</h1>
                    </header>

                    <div class="w3-container w3-light-grey" style="font-weight: bold;">
                        <img style="max-width:100%; margin:auto; display:block;" src="./assets/S9_calendar.png" />
                    </div>
                </div>

            </div>
            <div class="flexBox" style="margin:5px;">
                <h2>Rulebooks</h2>
                <h3>Season 9</h3>
                <ul>
                    <li><a
                            href="https://cdn.discordapp.com/attachments/680009696966737950/846471079429144586/JRC_Season_9_Rulebook_Updated.pdf">English</a>
                    </li>
                </ul>
                <h3>Season 8</h3>
                <ul>
                    <li><a
                            href="https://cdn.discordapp.com/attachments/679708933434114093/799702197529083954/JRC_Season_8_Rulebook.pdf">English</a>
                    </li>
                </ul>
                <h3>Season 7</h3>
                <ul>
                    <li><a
                            href="https://cdn.discordapp.com/attachments/679708933434114093/764526986872750080/JRC_Season_7_Rulebook.pdf">English</a>
                    </li>
                </ul>
                <h3>Season 6</h3>
                <ul>
                    <li><a
                            href="https://cdn.discordapp.com/attachments/679708933434114093/744264939140808764/JRC_Season_6_Rulebook.pdf">English</a>
                    </li>
                    <li><a
                            href="https://cdn.discordapp.com/attachments/679708933434114093/744264963660447824/JRC_Temporada_6_-_Reglamento_en_Espanol.pdf">Espanol</a>
                    </li>
                    <li><a
                            href="https://cdn.discordapp.com/attachments/679708933434114093/744264986460815416/JRC_Saison_6_Reglement_en_francais.pdf">Français</a>
                    </li>
                    <li><a
                            href="https://cdn.discordapp.com/attachments/679708933434114093/744265091041722368/JRC_6._kauden_saantokirja.pdf">Saantokirja</a>
                    </li>
                    <li><a
                            href="https://cdn.discordapp.com/attachments/679708933434114093/744265121018413166/JRC_6.hooaja_reegliraamat.pdf">Reegliraamat</a>
                    </li>
                </ul>
                <h2>Side series results links</h2>
                <ul>
                    <li>
                        <a href="./themed/index.html">Themed</a>
                    </li>
                    <li>
                        <a href="./historic/index.html">Historic</a>
                    </li>
                    <li>
                        <a href="./endurance/index.html">Endurance</a>
                    </li>
                </ul>

                <h2>Other links</h2>
                <ul>
                    <li>
                        <a href="https://junior-rally-championship.fandom.com/wiki/Junior_Rally_Championship_Wiki">The Wiki</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <!--
        DROPDOWN
    -->
    <script>
        function openNav() {
            var x = document.getElementById("mobileNav");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>
    <!--
        BACKGROUND ANIMATION
    -->
    <div id="particles-js"></div>
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="./assets/particleConfig.js"></script>
</body>

</html>