<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/animation.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/w3.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" href="./assets/{{logo}}">
</head>

<body style="{{this.backgroundStyle}}">
    {{{navigation}}}
    <div id="container">
        <div id="flexContainer">
            <div class="flexBox" style="margin:5px;width: 60%; min-width: 700px;">
                <div class="w3-card-4">

                    <header class="w3-container w3-blue">
                        <h1>Welcome to JRC Season 11</h1>
                    </header>

                    <div class="w3-container w3-light-grey">
                        <p>The season is underway - 7 rounds of rally action to determine the winning drivers and teams!</p>

                    </div>
                </div>

                <!--
                <div class="w3-card-4">

                    <header class="w3-container w3-blue">
                        <h1>Season 11 Calendar</h1>
                    </header>

                    <div class="w3-container w3-light-grey" style="font-weight: bold;">
                        <img style="max-width:100%; margin:auto; display:block;" src="./assets/S10_calendar.png" />
                    </div>
                </div>
                -->

                <div class="w3-card-4">

                    <header class="w3-container w3-blue">
                        <h1>Other JRC events</h1>
                    </header>

                    <div class="w3-container w3-light-grey">
                        <p><strong>Richard Burns Rally Season 1</strong></p>
                        <p>Season 1 of JRC's new RBR championship is underway.</p>
                        <p>See the RBR section of our discord for more info, and check the results in the links section</p>
                    </div>

                    <div class="w3-container w3-light-grey">
                        <p><strong>Themed</strong></p>
                        <p>The Peugeot Rally Challenge is underway and open to all.</p>
                        <p>See the side series section of our discord for more info, and check the results in the links section</p>
                    </div>
                </div>

            </div>
            <div class="flexBox" style="margin:5px;">
                <h2>Rulebooks</h2>
                <h3>Season 11</h3>
                <ul>
                    <li><a
                            href="https://cdn.discordapp.com/attachments/679708933434114093/939236744186966026/JRC_Season_11_Rulebook.pdf">Rulebook</a>
                    </li>
                </ul>
                <h2>Results links</h2>
                <ul>
                    <li>
                        <a href="./rbr/index.html">RBR Season 1</a>
                    </li>
                    <li>
                        <a href="./themed/index.html">Themed</a>
                    </li>
                </ul>

                <h2>Other links</h2>
                <ul>
                    <li>
                        <a href="https://junior-rally-championship.fandom.com/wiki/Junior_Rally_Championship_Wiki">The Wiki</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <!--
        DROPDOWN
    -->
    <script>
        function openNav() {
            var x = document.getElementById("mobileNav");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>
    <!--
        BACKGROUND ANIMATION
    -->
    {{#unless this.backgroundStyle}}
        <div id="particles-js"></div>
        <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
        <script src="./assets/particleConfig.js"></script>
    {{/unless}}
</body>

</html>