body {
	margin: 0;
	font-family: Helvetica, sans-serif
}

#container {
	width: 90%;
	margin: auto;
	padding: 4em;
	margin-top: 4em;
}

#flexContainer {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.background {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: -1;
}

#particles-js {
	/*display: none;*/
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 150%;
	/*background-color: #e6f4ff;*/
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

canvas {
	display: block;
	vertical-align: bottom;
}

#myVideo {
	z-index: -1;
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 130%;
	min-height: 130%;
}

h2 {
	color: black;
}

.text-left {
	text-align: left;
}

.bold {
	font-weight: bold;
}

.bold>small {
	font-weight: initial;
}



.logo {
	display: inline-block;
}

.logo img {
	max-height: 4em;
	border-radius: 50%;
	border: 1px solid darkgray;
}

.left {
	float: left;
}

.right {
	float: right;
}

/**
	TABLE
**/
table {
	border-collapse: collapse;
}

th,
td {
	padding: 0.5em;
	text-align: center;
}

th>img {
	max-height: 1.5em;
	margin: auto;
}

th>a>img {
	max-height: 1.5em;
	margin: auto;
}

thead>tr {
	background-color: #5355bf;
	color: white;
}

tbody>tr:nth-child(even) {
	background-color: #dfedff
}

tbody>tr:nth-child(odd) {
	background-color: #F5F5F5
}

/**
	STANDING EVOLUTION ARROWS
**/
.positive {
	color: green;
	font-weight: bold;
}

.neutral {
	color: grey;
	font-weight: bold;
}

.negative {
	color: red;
	font-weight: bold;
}

.arrow {
	border: solid black;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 3px;
}

.up {
	border-color: green;
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.down {
	border-color: red;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

/**
	NAVIGATION
**/
.secondaryNav {
	display: flex;
	justify-content: space-around;
}

.secondaryNav>a>img {
	vertical-align: middle;
	max-height: 2em;
	margin: 0.2em 1em;
	border-radius:0.3em;
}

.navTitle {
	display: block;
	text-transform: uppercase;
}

#mobileNav #seriesMobileNav {
	font-weight: bold;
}

#mobileNav>span,
#mobileNav>a,
#seriesMobileNav>span,
#seriesMobileNav>a {
	text-align: center;
	font-size: 2em;
	padding: 0.5em 0;
}

.active {
	background: #5355bf !important;
	color: white !important;
}

.w3-bar .logo {
	float: left;
	padding: 0.3em;
}

.w3-bar .logo  img {
	max-height: 2em;
}

@media only screen and (max-width: 992px) {
	.w3-bar .logo img {
		max-height: 4em;
		margin: 0.5em;
	}

	.secondaryNav>a>img {
		max-height: 3em;
	}

	#container {
		margin-top: 7em;
	}
}

.popup {
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-decoration: underline;
	text-decoration-style: dotted;
	text-align: center;
}

/* The actual popup */
.popup .popuptext {
	display: inline-block;
	visibility: hidden;
	width: 160px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 2px;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -80px;
	text-decoration: none;
}

/* Popup arrow */
.popup .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
}