#on: workflow_dispatch
on:
  schedule:
    # every hour on the hour
    - cron: "0 * * * *"

jobs:
  publish-results:
    env:
      DIRT_USERNAME: ${{ secrets.DIRT_USERNAME }}
      DIRT_PASSWORD: ${{ secrets.DIRT_PASSWORD }}
      RACENET_USERNAME: ${{ secrets.RACENET_USERNAME }}
      RACENET_PASSWORD: ${{ secrets.RACENET_PASSWORD }}
      DIRT_AWS_ACCESS_KEY: ${{ secrets.DIRT_AWS_ACCESS_KEY }}
      DIRT_AWS_SECRET_ACCESS_KEY: ${{ secrets.DIRT_AWS_SECRET_ACCESS_KEY }}
      GOOGLE_SHEETS_API_KEY: ${{ secrets.GOOGLE_SHEETS_API_KEY }}
      GMAIL_CLIENT_ID: ${{ secrets.GMAIL_CLIENT_ID }}
      GMAIL_CLIENT_SECRET: ${{ secrets.GMAIL_CLIENT_SECRET }}
      GMAIL_REFRESH_TOKEN: ${{ secrets.GMAIL_REFRESH_TOKEN }}
      RSF_USERNAME: ${{ secrets.RSF_USERNAME }}
      RSF_PASSWORD: ${{ secrets.RSF_PASSWORD }}
      DEBUG: tkidman:*
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 20.x
        uses: actions/setup-node@v1
        with:
          node-version: 20.x
      - name: npm install
        run: npm install
      # - name: jrc-themed
      #   if: always()
      #   run: CLUB=jrc-themed node --unhandled-rejections=strict ./runner.js
#      - name: jrc-worldcup
#        if: always()
#        run: CLUB=jrc-worldcup node --unhandled-rejections=strict ./runner.js
      # - name: jrc-acr
      #   if: always()
      #   run: CLUB=jrc-acr node --unhandled-rejections=strict ./runner.js
      # - name: checker
      #   if: always()
      #   run: node --unhandled-rejections=strict ./checker.js
#      - name: jrc-rbr
#        if: always()
#        run: CLUB=jrc-rbr node --unhandled-rejections=strict ./runner.js
      - name: rsc
        if: always()
        run: CLUB=rsc node --unhandled-rejections=strict ./runner.js
#      - name: jrc-modern
#        if: always()
#        run: CLUB=jrc-modern node --unhandled-rejections=strict ./runner.js
#      - name: jrc-rbr-rallysprint
#        if: always()
#        run: CLUB=jrc-rbr-rallysprint node --unhandled-rejections=strict ./runner.js
#      - name: jrc-historic
#        if: always()
#        run: CLUB=jrc-historic node --unhandled-rejections=strict ./runner.js
#      - name: jrc-birthday
#        if: always()
#        run: CLUB=jrc-birthday node --unhandled-rejections=strict ./runner.js
#      - run: CLUB=jrc-themed node --unhandled-rejections=strict ./runner.js
