#on: workflow_dispatch
on:
  schedule:
    # every hour on the hour
    - cron: "0 * * * *"

jobs:
  publish-results:
    env:
      DIRT_USERNAME: ${{ secrets.DIRT_USERNAME }}
      DIRT_PASSWORD: ${{ secrets.DIRT_PASSWORD }}
      DIRT_AWS_ACCESS_KEY: ${{ secrets.DIRT_AWS_ACCESS_KEY }}
      DIRT_AWS_SECRET_ACCESS_KEY: ${{ secrets.DIRT_AWS_SECRET_ACCESS_KEY }}
      GOOGLE_SHEETS_API_KEY: ${{ secrets.GOOGLE_SHEETS_API_KEY }}
      DEBUG: tkidman:*
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: npm install
        run: npm install
      - name: jrc-rbr
        if: always()
        run: CLUB=jrc-rbr node --unhandled-rejections=strict ./runner.js
      - name: jrc
        if: always()
        run: CLUB=jrc node --unhandled-rejections=strict ./runner.js
      - name: jrc-historic
        if: always()
        run: CLUB=jrc-historic node --unhandled-rejections=strict ./runner.js
#      - run: CLUB=jrc-themed node --unhandled-rejections=strict ./runner.js
